<footer id="about" class="nk-footer bg-dark tc-light has-overlay">
  <div class="overlay shape shape-c"></div>
  <section class="section section-footer section-m tc-light">
    <div class="container">
      <div class="nk-footer-top">
        <div class="row g-gs gy-m">
          <div class="col-lg-3 col-md-9 mr-auto">
            <div class="wgs wgs-about">
              <div class="wgs-about-text">
                <p><strong>Sadbhawna</strong> is a web portal where recovered COVID-19 patient can share their left out
                  resources such as medicines, relief creams, supplements etc.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-2">
            <div class="wgs wgs-menu">
              <h6 class="wgs-title">Quick Links</h6>
              <ul class="wgs-links">
                <li><a class="scrollto"
                    href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">Symptoms</a></li>
                <li><a class="scrollto"
                    href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Prevention</a>
                </li>
                <li><a class="scrollto"
                    href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">Protect
                    Youself</a></li>
                <li><a class="scrollto" href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html">FAQs</a></li>
                <li><a class="scrollto" href="https://en.wikipedia.org/wiki/COVID-19_pandemic">About Corona</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="wgs wgs-menu">
              <h6 class="wgs-title">Helpful Links</h6>
              <ul class="wgs-links">
                <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/index.html">Healthcare Professionals</a></li>
                <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/older-adults.html">Older
                    Adults & Medical Conditions</a></li>
                <li><a
                    href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/checklist-household-ready.html">Household
                    Checklist</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-lg-2">
            <div class="wgs wgs-menu">
              <h6 class="wgs-title">Important Links</h6>
              <ul class="wgs-links">
                <li><a href="https://www.mohfw.gov.in/">MoHFW | GOI</a></li>
                <li><a href="https://www.covid19india.org/">Track COVID-19</a></li>
                <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO Website</a></li>
                <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC Website</a></li>
                <li><a href="https://www.cowin.gov.in/">Cowin Portal</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-footer-bottom">
        <div class="row align-items-center">
          <div class="col-md-6">
            <p class="nk-copyright">&copy; 2023 Team Sadbhawna</p>
            <p class="nk-copyright">REMEMBER - We always advice you to consult doctor first.</p>
          </div>
          <div class="col-md-6">
            <ul class="nk-footer-links justify-content-md-end">
              <li>
                <p class="nk-copyright">Made with ❤️ by Team Sadbhawna</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
</div>

<script src="/scripts/scripts.js" charset="utf-8" type="application/javascript"></script>
<script src="/scripts/donatescript.js" charset="utf-8" type="application/javascript"></script>
<script src="/scripts/signupscript.js" charset="utf-8" type="application/javascript"></script>

<script>
  var loader = document.getElementById("preloader");
  window.addEventListener("load", function () {
    loader.style.display = "none";
  })
</script>

</body>

</html>