<%- include('partials/header'); -%>
<div>
    <div class="jumbotron">
        <h1>Please try Signing-Up again!</h1>
        <p>You have entered an In-Valid Information</p>
        <div class="row justify-content-center">
    <span><a class="btn btn-primary " href="signup">Click Here to Sign-Up</a></span>
         </div>
      </div>
</div>
<%- include('partials/footer'); -%>
