<%- include('partials/header'); -%>

<section id="home">
<div class="nk-wrap">
  <header class="nk-header bg-light has-overlay" id="home">
    <div class="overlay shape shape-a"></div>
    <nav class="navbar navbar-expand-lg navbar-light  bg-light nk-navbar is-light is-sticky ">
      <a class="navbar-brand" href="#">
        <div class="nk-navbar-logo logo"><h3 class="webportal alignHead" style="font-size: 40px;">   Sadbhawna</h3>
          <p class="blue-text alignText">Action speaks louder than words</p></div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" style="color: rgb(42, 129, 234) ; font-style: normal ; font-family: 'Barlow Condensed', sans-serif; font-size: large; margin-right:9px;" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(42, 129, 234); font-style: normal ; font-family: 'Barlow Condensed', sans-serif; font-size: large;margin-right:9px;" href="#vision">Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color: rgb(42, 129, 234); font-style: normal ; font-family: 'Barlow Condensed', sans-serif; font-size: large;margin-right:9px;" href="#spread">Spread</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color: rgb(42, 129, 234); font-style: normal ; font-family: 'Barlow Condensed', sans-serif; font-size: large;margin-right:9px;" href="resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(42, 129, 234); font-style: normal ; font-family: 'Barlow Condensed', sans-serif; font-size: large;margin-right:9px;" href="#about">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/donate">
          <button class="btn btn-outline-success my-2 my-sm-0 but-nav" type="submit" style="margin-left:auto;">Donation</button>
        </form>
      </div>
    </nav>



    <div class="nk-banner">
      <div class="container">
        <div class="row g-gs align-items-center justify-content-between">
          <div class="col-lg-5 order-lg-last">
            <div class="nk-banner-image"> <img src="images/header.png" alt=""></div>
          </div>
          <div class="col-lg-6">
            <div class="nk-banner-block">
              <div class="content">
                <h1 class="heading"> <span>CORONA</span> <span class="heading-sm"> <span class="sup">COVID-19</span> <span class="sub">VIRUS</span> </span></h1>
                <p>The Coronavirus (COVID-19) was first reported in Wuhan, Hubei, China in December 2019, the outbreak was later recognized as a pandemic by the World Health Organization (WHO) on 11 March 2020.</p>
                <ul class="nk-banner-btns">
                  <li><a href="login" class="btn scrollto"><span>Login</span><i style="margin-left:20%;" class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                  <li><a href="signup" class="btn btn-transparent scrollto"><span style="width:65px;">Sign Up</span><i style="margin-left:10%;" class="fas fa-users"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>

  <main class="nk-pages">
    <!-- VISION -->
    <section id="vision">
      <h1 align="center">OUR VISION & MISSION</h1>
      <div class="row">
        <div class="col-lg-4 vision-box" data-aos="flip-left" data-aos-delay="200" data-aos-once="true" data-aos-easing="ease-in-out-sine">
          <i class="far fa-eye icon  fa-4x"></i>
          <h3>VISION</h3>
          <h5>We Care About Others!</h5>
          <hr>
          </hr>
          <p>An initiative for Coronavirus free INDIA.</p>
        </div>

        <div class="col-lg-4 vision-box" data-aos="flip-up" data-aos-delay="500" data-aos-once="true" data-aos-easing="ease-in-out-sine">
          <i class="fas fa-tasks icon  fa-4x"></i>
          <h3>MISSION</h3>
          <h5>We Fight Together for Others!</h5>
          <hr>
          </hr>
          <p>
            To help out needy or poor people or anyone
            who is in emergency situation. A small helping hand
            may save someone's life.
          </p>
        </div>

        <div class="col-lg-4 vision-box" data-aos="flip-right" data-aos-delay="700" data-aos-once="true" data-aos-easing="ease-in-out-sine">
          <i class="far fa-lightbulb icon  fa-4x"></i>
          <h3>HELP & SUPPORT</h3>
          <h5>We Stand Together For Others! </h5>
          <hr>
          </hr>
          <p>Great opportunities to help others seldom come,
            but small ones surround us every day.</p>
        </div>
      </div>
    </section>

    <section class="section section-l bg-light section-spread" id="spread">
      <div class="container">
        <div class="section-head text-center wide-md">
          <h5 class="subtitle">How coronavirus spreads</h5>
          <h2 class="title">Transmission of <br class="d-sm-none"> COVID-19</h2>
          <p>Because it's a new illness, we do not know exactly how coronavirus spreads from person to person. Similar viruses are spread in cough droplets.</p>
        </div>
        <div class="section-content">
          <div class="row g-gs justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-4">
              <div class="box">
                <div class="box-gfx"> <img src="images/spread1.png" alt=""></div>
                <div class="box-content">
                  <h4 class="title">Person-to-person spread as close contact with infected</h4>
                  <p>The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-4">
              <div class="box">
                <div class="box-gfx"> <img src="images/spread2.png" alt=""></div>
                <div class="box-content">
                  <h4 class="title">Touching or contact with infected surfaces or objects</h4>
                  <p>A person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-4">
              <div class="box">
                <div class="box-gfx"> <img src="images/spread3.png" alt=""></div>
                <div class="box-content">
                  <h4 class="title">Droplets that from infected person coughs or sneezes</h4>
                  <p>The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another.</p>
                </div>
              </div>
            </div>
          </div>
          <ul class="section-actions">
            <li><a href="https://www.mohfw.gov.in/pdf/FAQ.pdf" class="btn scrollto" target="_blank"><span>Detail Question and Answers on COVID-19 for Public</span></span></a></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <%- include('partials/footer'); -%>
