<%- include('partials/header'); -%>
    <div class="jumbotron">
        <h1>Successfully Submitted</h1>
        <p>Thank You for your kind gesture!</p>
        <a class="btn btn-primary"  href="index.html">Go to Home-Page</a>
      </div>

</body>
<%- include('partials/footer'); -%>
